# mac
.DS_Store

# node modules
node_modules/

# FE dist
dist

# Yarn
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.pnp.*
.yarn

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# PHP (Composer)
src-server/vendor

# vitest
src-frontend/coverage
