# TODO: to ignore /server/data folder that contains a bunch of files - will be removed once we have a DB
server/data/*
!server/data/.gitkeep

# node modules
node_modules/

# Yarn
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
