#mac
.DS_Store

# node modules
node_modules/

# FE dist
dist

# Yarn
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
