<h1>Language</h1>
<core-language-selector
  params="{
    currentLocale: currentLocale
  }"
>
</core-language-selector>
<hr class="orthanc-dialog-options-language-spacer">
<h2>Description</h2>
<!-- TODO: Add paragraph -->
The game mode option determines your overall experience playing this game. Some features my differ as well as the possible actions, the lootable items, the winning conditions and the enemies. It us a must to mention that there is no "harder" nor "easier" version of this game, play the one mode you click with and enjoy!
