character-creation {
  .character-creation-box {
    border: var(--border-2px0-primary-solid);
    padding: var(--spacing-20) var(--spacing-24);
    width: 640px;
  }

  .character-creation-title {
    text-align: center;
    margin-bottom: var(--spacing-12);
    border-bottom: var(--border-1px0-primary-solid);
    padding-bottom: var(--spacing-06);
  }

  .character-creation-content {
    display: flex;
  }

  .character-creation-character-box {
    border: var(--border-1px0-primary-solid);
    border-right: 0;
    padding: var(--spacing-08);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .character {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-0px5-primary-solid);
  }

  img.character-tile {
    width: 40px;
    height: 61px;
    background-color: var(--color-primary);
  }

  .character-creation-stats-box {
    border: var(--border-1px0-primary-solid);
    padding: var(--spacing-08);
    width: 50%;
  }

  .actions {
    text-align: center;
    margin-top: var(--spacing-10);
  }

  button {
    background: #000;
    color: var(--color-primary);
    border: var(--border-2px0-primary-solid);
    border-bottom: 0;
    padding: var(--spacing-06) var(--spacing-16);
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  button:last-of-type {
    border-bottom: var(--border-2px0-primary-solid);
  }
}
