.character-creation-box {
  border: 2px solid #ffa500;
  padding: 20px 24px;
  width: 640px;
}

.character-creation-title {
  text-align: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #ffa500;
  padding-bottom: 6px;
}

.character-creation-content {
  display: flex;
}

.character-creation-character-box {
  border: 2px solid #ffa500;
  border-right: 0;
  padding: 8px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffa500;
}

.character-creation-stats-box {
  border: 2px solid #ffa500;
  padding: 8px;
  width: 50%;
}

.actions {
  text-align: center;
  margin-top: 10px;
}

button {
  background: #000;
  color: #ffa500;
  border: 2px solid #ffa500;
  border-bottom: 0;
  padding: 6px 16px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:last-of-type {
  border-bottom: 2px solid #ffa500;
}

button:hover {
  background: #ffa500;
  color: #000;
}