<div class="character-creation-box">
  <div class="character-creation-title">
    CHARACTER CREATION
  </div>

  <div class="character-creation-content">
    <div class="character-creation-character-box">
      <div class="character">
        <img class="character-tile" data-bind="attr: { src: characterImageUrl }">
      </div>
    </div>
    <div class="character-creation-stats-box">
      <h3>Characteristics</h3>
      <table style="width: 100%;">
        <tr>
          <td><strong>Hits:</strong></td>
          <td data-bind="text: stats().maxHits"></td>
        </tr>
        <tr>
          <td>Strength:</td>
          <td data-bind="text: stats().str"></td>
        </tr>
        <tr>
          <td>Intelligence:</td>
          <td data-bind="text: stats().int"></td>
        </tr>
        <tr>
          <td>Constitution:</td>
          <td data-bind="text: stats().con"></td>
        </tr>
        <tr>
          <td>Dexterity:</td>
          <td data-bind="text: stats().dex"></td>
        </tr>
      </table>
      <div class="actions">
        <button data-bind="click: onGenerateClick">Regenerate</button>
      </div>
    </div>
  </div>

  <div class="actions">
    <button data-bind="click: onNextClick">Begin the Journey</button>
  </div>

  <div class="actions">
    <button data-bind="click: onBackClick">Back</button>
  </div>
</div>