<strong>Characteristics</strong>
<table>
  <tr>
    <td>Strength</td>
    <td data-bind="text: character().strength"></td>
  </tr>
  <tr>
    <td>Intelligence</td>
    <td data-bind="text: character().intelligence"></td>
  </tr>
  <tr>
    <td>Constitution</td>
    <td data-bind="text: character().constitution"></td>
  </tr>
  <tr>
    <td>Dexterity</td>
    <td data-bind="text: character().dexterity"></td>
  </tr>
</table>
<strong>Equipment</strong>
<table>
  <tr>
    <td>Sword</td>
    <td data-bind="text: equipment().sword"></td>
  </tr>
  <tr>
    <td>Shield</td>
    <td data-bind="text: equipment().shield"></td>
  </tr>
  <tr>
    <td>Armor</td>
    <td data-bind="text: equipment().armor"></td>
  </tr>
  <tr>
    <td>Bow</td>
    <td data-bind="text: equipment().bow"></td>
  </tr>
  <tr>
    <td>Arrows</td>
    <td data-bind="text: equipment().arrows"></td>
  </tr>
</table>