<game-charasteristics params="{ character: character }"></game-charasteristics>
<strong>Equipment</strong>
<table>
  <tr>
    <td>Sword</td>
    <td data-bind="text: equipment().sword"></td>
  </tr>
  <tr>
    <td>Shield</td>
    <td data-bind="text: equipment().shield"></td>
  </tr>
  <tr>
    <td>Armor</td>
    <td data-bind="text: equipment().armor"></td>
  </tr>
  <tr>
    <td>Bow</td>
    <td data-bind="text: equipment().bow"></td>
  </tr>
  <tr>
    <td>Arrows</td>
    <td data-bind="text: equipment().arrows"></td>
  </tr>
</table>
