.chat-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #ffa500;
}

.chat-members {
  height: 20%;
  border-bottom: 2px solid #ffa500;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 4px 8px;
}

.player {
  font-weight: 700;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: scroll;
  max-width: 281px;
  padding: 4px;
}

.chat-actions>form {
  display: flex;
}

.chat-actions>form>button {
  width: 30%;
  border-right: 0;
  border-bottom: 0 !important;
}

.chat-actions>form>input {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}