.game-screen {
  width: 100%;
  height: 100%;
  display: flex;
}
.game-screen-layout {
  display: grid;
  grid-template-columns: 500px 1fr 1fr;
  grid-template-rows: 250px 250px;
  width: 100%;
}
.game-screen-chat {
  align-self: flex-end;
  width: 400px;
}

.game-view {
  grid-row: 1 / span 2;
  border: 1px solid;
  padding: 98px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.game-tile {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wall-top {
  border-top: 0.5px solid;
}
.wall-bottom {
  border-bottom: 0.5px solid;
}
.wall-left {
  border-left: 0.5px solid;
}
.wall-right {
  border-right: 0.5px solid;
}

.game-actions,
.game-stats {
  border: 1px solid;
  padding: 5px 10px;
}
.game-actions {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.game-hits,
.game-action {
  padding: 4px 8px;
}
.game-hits {
  font-weight: 700;
}
.game-action:hover {
  cursor: pointer;
  background: #ffa500;
  color: #000;
}
.game-feedback {
  grid-column: 2 / span 2;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}


ul {
  padding: 10px 15px;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}
table {
  width: 100%;
}
td:nth-of-type(1):hover {
  text-decoration: underline;
  cursor: pointer;
}
td:nth-of-type(2) {
  text-align: end;
}