.character-creation-screen {
  height: 100%;
  width: 100%;

  .character-creation__page {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .character-creation__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .character-creation__chat {
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    transition: width 0.3s;
    background-color: var(--color-surface);
  }
}