.game-screen {
  width: 100%;
  height: 100%;
  display: flex;

  .game-screen-layout {
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: 250px 250px;
    width: 100%;
  }

  .game-screen-chat {
    align-self: flex-end;
    width: 400px;
  }

  .game-actions,
  .game-stats {
    border: var(--border-1px0-primary-solid);
    padding: var(--spacing-04) var(--spacing-10);
  }

  .game-minimap {
    border: var(--border-1px0-primary-solid);
  }

  .game-actions {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-00);
  }

  .game-hits,
  .game-action {
    padding: var(--spacing-04) var(--spacing-08);
  }

  .game-hits {
    font-weight: 700;
  }

  .game-action:hover {
    cursor: pointer;
    background: var(--color-primary);
    color: #000;
  }

  .game-feedback {
    padding: var(--spacing-20);
    grid-column: 2 / span 2;
    border: var(--border-1px0-primary-solid);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  ul {
    padding: var(--spacing-10) var(--spacing-16);
  }

  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  table {
    width: 100%;
  }

  td:nth-of-type(1):hover {
    text-decoration: underline;
    cursor: pointer;
  }

  td:nth-of-type(2) {
    text-align: end;
  }

  img.character-tile {
    width: 40px;
    height: 61px;
    background-color: var(--color-primary);
  }

  img.item_orb,
  img.item_grail,
  img.item_gold {
    background-color: var(--color-primary);
    height: 24px;
  }
}