.game-screen {
  width: 100%;
  height: 100%;
  display: flex;

  .game-screen-layout {
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: 250px 250px;
    width: 100%;
  }

  .game-screen-chat {
    align-self: flex-end;
    width: 400px;
  }

  .game-actions,
  .game-stats {
    border: var(--border-1px0-primary-solid);
    padding: var(--spacing-04) var(--spacing-10);
  }

  .game-minimap {
    border: var(--border-1px0-primary-solid);
  }

  .game-feedback {
    padding: var(--spacing-20);
    grid-column: 2 / span 2;
    border: var(--border-1px0-primary-solid);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}