mode-select {
  .mode-select-box {
    border: var(--border-2px0-primary-solid);
    padding: var(--spacing-20) var(--spacing-24);
    width: 320px;
  }

  .mode-select-title {
    text-align: center;
    margin-bottom: var(--spacing-12);
    border-bottom: var(--border-1px0-primary-solid);
    padding-bottom: var(--spacing-06);
  }

  .actions {
    text-align: center;
    margin-top: var(--spacing-10);
  }

  button {
    background: #000;
    color: var(--color-primary);
    border: var(--border-2px0-primary-solid);
    border-bottom: 0;
    padding: var(--spacing-06) var(--spacing-16);
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  button:last-of-type {
    border-bottom: var(--border-2px0-primary-solid);
  }
}
