<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
  AddType application/json .json
</IfModule>

DirectoryIndex index.html
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^api/v[0-9]+/.*$ index.php [QSA,L]
RewriteRule .? index.html [L]