.login-box {
  border: var(--border-2px0-primary-solid);
  padding: var(--spacing-20) var(--spacing-24);
  width: 320px;

  .login-title {
    text-align: center;
    margin-bottom: var(--spacing-12);
    border-bottom: var(--border-1px0-primary-solid);
    padding-bottom: var(--spacing-06);
  }

  .error-message {
    border: var(--border-1px0-primary-solid);
    color: var(--color-primary);
    padding: var(--spacing-06);
    margin-bottom: var(--spacing-14);
    text-align: center;
  }

  .actions {
    text-align: center;
    margin-top: var(--spacing-10);

    button {
      background: #000;
      color: var(--color-primary);
      border: var(--border-2px0-primary-solid);
      padding: var(--spacing-06) var(--spacing-16);
      font-family: inherit;
      font-size: 16px;
      cursor: pointer;
      width: 100%;

      &:hover {
        background: var(--color-primary);
        color: #000;
      }
    }
  }
}
