body {
  background: #000;
  color: #ffa500;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

orthanc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

orthanc > router {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

orthanc > router > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Globals */

button:hover {
  background: #ffa500;
  color: #000;
}

input:focus {
  outline: none;
  box-shadow: 0 0 4px currentColor;
}