<h1>Game mode</h1>
<orthanc-selector
  params="{
    label: 'Mode',
    name: 'game-mode',
    value: gameMode,
    options: gameModeOptions
  }"
>
</orthanc-selector>
<hr class="orthanc-dialog-options-game-mode-spacer">
<h2>Description</h2>
<!-- TODO: Add paragraph -->
The game mode option determines your overall experience playing this game. Some features my differ as well as the possible actions, the lootable items, the winning conditions and the enemies. It us a must to mention that there is no "harder" nor "easier" version of this game, play the one mode you click with and enjoy!
<h3>Vanilla</h3>
<!-- TODO: Add paragraph -->
Vanilla game mode tries to be the exact copy of the original Orthanc game from 1975 what was made for PLATO IV systems in the University of Illinois. Choose this option if you'd like to experience the original game mode. 
<h3>Retail</h3>
<!-- TODO: Add paragraph -->
The retail game mode is a way more different version of the game based ony some other games like NetHack or Rogue or even newer games like Caves of Qud. It has newer mechanisms, different enemies, and some calculation may be different as well. It is more like a sandbox of the game following the "what could have it been".
