orthanc-loader {
  .orthanc-loader__container {
    color: var(--color-primary);
    background-color: var(--color-surface);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-08);

    .asterisk {
      animation: flicker 2s infinite;

      &:nth-child(2) {
        animation-delay: 0.1s;
      }

      &:nth-child(2) {
        animation-delay: 0.1s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }

      &:nth-child(4) {
        animation-delay: 0.6s;
      }

      &:nth-child(5) {
        animation-delay: 0.5s;
      }

      &:nth-child(6) {
        animation-delay: 0.3s;
      }

      &:nth-child(7) {
        animation-delay: 0.2s;
      }

      &:nth-child(8) {
        animation-delay: 0.7s;
      }
    }
  }

  @keyframes flicker {

    0%,
    100% {
      opacity: 0.2;
    }

    50% {
      opacity: 1;
    }
  }
}