name: "GHA - FE lint"
run-name: "Lint Frontend"
on: [pull_request, workflow_dispatch]

jobs:
  frontendLint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Volta
        run: |
          curl https://get.volta.sh | bash
          echo "$HOME/.volta/bin" >> $GITHUB_PATH

      - name: Install packages
        run: |
          volta install node yarn
          yarn install --frozen-lockfile
        working-directory: ./src-frontend

      - name: Run lint
        run: yarn gha:lint
        working-directory: ./src-frontend
