name: Deployment Train

on:
  workflow_dispatch:
    inputs:
      deploy_be:
        description: 'Deploy BE'
        required: false
        default: false
        type: boolean
      deploy_fe:
        description: 'Deploy FE'
        required: false
        default: false
        type: boolean
      deploy_maze:
        description: 'Deploy Maze'
        required: false
        default: false
        type: boolean
      target_env:
        description: 'Environment'
        required: true
        default: CANARY
        type: choice
        options:
          - PROD
          - CANARY
          - DEV

jobs:
  dispatch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Set deployment environment
        id: env
        run: |
          if [ "${GITHUB_EVENT_NAME}" = "push" ]; then
            echo "DEPLOY_ENV=DEV" >> $GITHUB_ENV
          else
            echo "DEPLOY_ENV=${{ github.event.inputs.target_env }}" >> $GITHUB_ENV
          fi

      - name: Dispatch Backend Deploy
        if: ${{ github.event.inputs.deploy_be == 'true' }}
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: deploy_be
          client-payload: '{"env": "${{ env.DEPLOY_ENV }}"}'

      - name: Dispatch Frontend Deploy
        if: ${{ github.event.inputs.deploy_fe == 'true' }}
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: deploy_fe
          client-payload: '{"env": "${{ env.DEPLOY_ENV }}"}'

      - name: Dispatch MAZE Deploy
        if: ${{ github.event.inputs.deploy_maze == 'true' }}
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: deploy_maze
          client-payload: '{"env": "${{ env.DEPLOY_ENV }}"}'
