core-footer {
  .core-footer {
    padding-top: var(--spacing-04);
    width: 100%;
    font-size: 0.6rem;
    display: flex;
    justify-content: end;

    &>a {
      color: var(--color-primary);
      text-decoration: none;

      &::after {
        content: "|";
        padding-left: var(--spacing-02);
      }
    }
  }
}